* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* ESTILO PARA EL HEADER CON EL LOGO Y EL SLOGAN */
header {
    background-color: #f7f7f7;
    height: 20vh;
}

.logo {
    width: 30%;
}
.logo img{
    width:200px;
    height:200px;
}
.slogan {
    width: 40%;
}

.buscar {
    width: 30%;
}

.img-fluid {
    margin-bottom: 15px;
}

.aside {
    margin-top: 100px;
    background-color: gainsboro;
}


@media (min-width: 1120px) {
    .columna {
        width: 380px;
        height: auto;
    }
}

@media (max-width: 410px) {
    .logo {
        width: 20%;
    }
    .logo img{
        width:150px;
        height:auto;
    }
    .slogan{
        font-size: 0.7rem;
    }
    
    .numeros{
        margin-top: 40px;
    }
}

/* ESTILO PARA IR ARRIBA */
.ir-arriba {
    display: none;
    padding: 20px;
    background: #239cbb;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
